/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "PT Sans" !default;
$presentation-font-size-root: 35px;
$code-block-font-size: 0.8em;
$presentation-h1-font-size: 2em;

// colors
$body-bg: #ffffff !default;
$body-color: #000 !default;
$link-color: #51483d !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-font: "PT Sans Caption" !default;
$presentation-heading-color: #383d3d !default;

/*-- scss:rules --*/
.reveal a {
  line-height: 1.3em;
}

.reveal table {
  line-height: 1.2em;
}

.reveal .table-small table {
  line-height: 1em;
}

.reveal .table-msmall table {
  line-height: 0.9em;
}

.reveal .table-vsmall table {
  line-height: 0.8em;
}

.reveal .ol-dense ol {
  line-height: 0.8em;
}

.reveal .ul-dense ul {
  line-height: 0.8em;
}

.title {
  color: brown !important;
}

.subtitle {
  font-size: 1.2em;
}

.author {
  font-weight: bold;
}

.date {
  color: steelblue;
  font-weight: 200;
}

.reveal pre.sourceCode code {
  max-height: 720px;
}

.reveal .code-large code {
  font-size: 1.5em;
}