/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "PT Sans" !default;
$presentation-font-size-root: 35px;
$code-block-font-size: 0.8em;

// colors
$body-bg: #ffffff !default;
$body-color: #000 !default;
$link-color: #51483d !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-font: "PT Sans Caption" !default;
$presentation-heading-color: #383d3d !default;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}